nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 0px 0px;
    font-size: 25px;
    background-color: #282A35;
    color: white;
    border-radius: 5px;
}

.left-nav {
    display: flex;
}

.left-nav > div {
    margin: 20px 20px;
    height: 100%;
}

.right-nav > div{
    margin: 20px 20px 20px 0px;
}

.left-nav > div:hover, .right-nav > div:hover {
    color: green;
    
}